/*@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap");
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: "Open Sans";
}
.from {
  font-family: "Open Sans Condensed";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed";
}

/* font-family: "Open Sans";
  font-family: "Open Sans Condensed";
*/

.positioner {
  max-width: 850px;
  margin: auto;
}
.client {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.api-selector {
  border: 1px solid black;
  background: #c44d58;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

select,
input[type="text"] {
  width: 80%;
  padding: 10px 22px;
  margin: 5px 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.controls {
  display: inline-block;
  text-align: right;
  width: 20%;
}

.from {
  display: inline-block;
  font-size: larger;
  font-weight: bold;
}

button {
  padding: 10px;
  margin: 2px;
  background: gainsboro;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
button:hover {
  color: white;
  background: #556270;
  cursor: pointer;
}

button:active {
  color: black;
  background: white;
}

.delete button {
  background: #c44d58;
}
.delete button:hover {
  background: #ff6b6b;
}
.editText {
  margin: 8px;
  color: blue;
}
.editText:hover {
  cursor: pointer;
}
.message-list {
  display: flex;
  flex-direction: column;
}
.message-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
.message-li {
  padding: 6px;
  margin: 5px 0px;
  flex-grow: 1;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  background: #c7f464;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.message-text {
  padding: 10px;
  width: 100%;

  /* font-weight: bold; */
}
.message-row {
  width: 100%;
  display: flex;
}
.timestamp {
  text-align: right;
}
.message:last-of-type {
  background: rgba(0, 0, 0, 0.2);
}
.refresh {
  align-self: flex-end;
}
/*
.chat-form-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-width: 850px;
}
*/
.chat-form {
  padding: 20px 0;
  background: #4ecdc4;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  border-top: 10px #556270 solid;
}
.message-inputs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.form-buttons {
  align-self: flex-end;
}
